<section class="strip bg-primary">
	<div class="container">
		<div class="row clearfix">
			<form action="http://sendy.dev7studios.com/subscribe" method="POST" accept-charset="utf-8" class="mail-list-signup">
				<input type="hidden" name="list" value="732ZcQzD6lrLWGLminyBEQ">
				<div class="col-sm-9 col-xs-12 pull-left clear-fix">
					<h3 class="text-white pull-left"><strong>Get Baun updates in your Inbox.&nbsp;</strong></h3>
					<input type="email" name="email" class="signup-email-field" placeholder="Enter your email address here..." required>
				</div>

				<div class="col-sm-3 col-xs-12 pull-right text-right">
					<input type="submit" class="btn btn-primary btn-filled" value="Subscribe">
				</div>
			</form>
		</div>
	</div>
</section>