{% extends "layout.html" %}

{% block title %}
Baun - A modern, lightweight, extensible CMS for PHP
{% endblock %}

{% block content %}
	<header class="page-header">
		<div class="background-image-holder parallax-background">
			<img class="background-image" alt="Background Image" src="/themes/baun/img/hero14.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img alt="logo" class="logo" src="/themes/baun/img/logo-light.png">
					<h1 class="text-white space-bottom-medium">A modern, lightweight, extensible CMS for PHP</h1>
					<a href="/download" class="btn btn-primary btn-white">Download Baun</a>
					<a href="/docs" class="btn btn-primary btn-filled">Get Started</a>
				</div>
			</div>
		</div>
	</header>

	<section class="duplicatable-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Simple. Fast. Flat.</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-document"></i>
						</div>
						<div class="pull-right">
							<h5>Edit Text Files</h5>
							<p>Baun makes creating and maintaining a website as simple as editing text files with your
							favorite text editor.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-speedometer"></i>
						</div>
						<div class="pull-right">
							<h5>Light &amp; Fast</h5>
							<p>Baun was designed with performance in mind. The lightweight codebase and no database makes
							Baun blazing fast.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-layers"></i>
						</div>
						<div class="pull-right">
							<h5>No Database</h5>
							<p>Baun is designed as a "flat file" CMS, meaning there is no database and you can completely
							forget about MySQL.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-pencil"></i>
						</div>
						<div class="pull-right">
							<h5>Markdown Formatting</h5>
							<p>Use your favourite text editor to edit your pages and create your website using simple
							Markdown formatting.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-puzzle"></i>
						</div>
						<div class="pull-right">
							<h5>Twig Templates</h5>
							<p>Baun uses the Twig templating engine, for powerful and flexible themes. This site is
							an example of a Baun theme.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-gears"></i>
						</div>
						<div class="pull-right">
							<h5>Open &amp; Extendable</h5>
							<p>Baun is open source and has a very modular architecture, great for developers who like to
							hack things up.</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>

	<section class="product-right">

		<div class="background-image-holder">
			<img class="background-image" alt="Background Image" src="/themes/baun/img/grey-bg.jpg">
		</div>

		<div class="container align-vertical">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<h1>Manage your Baun content without opening a text editor</h1>
					<p class="lead">The Admin plugin for Baun gives you a familiar web-based editor for managing your content. Login and edit pages &amp; posts from anywhere in the world.</p>
					<a href="/plugins/admin" class="btn btn-primary">Baun Admin Plugin</a>
				</div>
			</div>
		</div>

		<div class="product-image" data-scroll-reveal="enter right and move 100px">
			<img alt="" src="/themes/baun/img/plugins/admin-ui.png">
		</div>

	</section>

	{% include 'partials/newsletter.html' %}
{% endblock %}