{% extends "layout.html" %}

{% block title %}
Baun - A modern, lightweight, extensible CMS for PHP
{% endblock %}

{% block content %}
	<header class="page-header">
		<div class="background-image-holder parallax-background">
			<img class="background-image" alt="Background Image" src="/themes/baun/img/hero14.jpg">
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img alt="logo" class="logo" src="/themes/baun/img/logo-light.png">
					<h1 class="text-white space-bottom-medium">A modern, lightweight, extensible CMS for PHP</h1>
					<a href="/download" class="btn btn-primary btn-white">Download Baun</a>
					<a href="/docs" class="btn btn-primary btn-filled">Get Started</a>
				</div>
			</div>
		</div>
	</header>

	<section class="duplicatable-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Simple. Fast. Flat.</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-document"></i>
						</div>
						<div class="pull-right">
							<h5>Edit Text Files</h5>
							<p>Baun makes creating and maintaining a website as simple as editing text files.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-speedometer"></i>
						</div>
						<div class="pull-right">
							<h5>Light &amp; Fast</h5>
							<p>Designed with performance in mind, and no database, making Baun blazing fast.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-layers"></i>
						</div>
						<div class="pull-right">
							<h5>No Database</h5>
							<p>Baun is designed as a "flat file" CMS, meaning you can completely forget about MySQL.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-pencil"></i>
						</div>
						<div class="pull-right">
							<h5>Markdown Formatting</h5>
							<p>Edit your website in your favourite text editor using simple Markdown formatting.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-puzzle"></i>
						</div>
						<div class="pull-right">
							<h5>Twig Templates</h5>
							<p>Baun uses the Twig templating engine, for powerful and flexible templates.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="feature feature-icon-large">
						<div class="pull-left">
							<i class="icon icon-recycle"></i>
						</div>
						<div class="pull-right">
							<h5>Open Source</h5>
							<p>Baun is completely free and open source, released under the MIT license.</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>
{% endblock %}