{% extends "layout.html" %}

{% block content %}
	<section class="product-right">

		<div class="background-image-holder">
			<img class="background-image" alt="Background Image" src="/themes/baun/img/grey-bg.jpg">
		</div>

		<div class="container align-vertical">
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<h1>Manage your Baun content without opening a text editor</h1>
					<p class="lead">The Admin plugin for Baun gives you a familiar web-based editor for managing your content. Login and edit pages &amp; posts from anywhere in the world.</p>
					<a href="https://sites.fastspring.com/bauncms/instant/baun-admin" class="btn btn-primary btn-filled">Purchase $39</a>
					<a href="/plugins/admin/docs" class="btn btn-primary">Plugin Documentation</a>
				</div>
			</div>
		</div>

		<div class="product-image" data-scroll-reveal="enter right and move 100px">
			<img alt="" src="/themes/baun/img/plugins/admin-ui.png">
		</div>

	</section>

	<section class="duplicatable-content">

		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Admin Features</h1>
				</div>
			</div>

			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="feature feature-icon-large">
						<i class="icon icon-browser" style="margin:0 auto 32px;"></i>
						<h5>Admin Backend</h5>
						<p>Login to the admin section of your site and manage your content, create/edit/delete pages &amp; posts, like you would in any other CMS.</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="feature feature-icon-large">
						<i class="icon icon-profile-male" style="margin:0 auto 32px;"></i>
						<h5>Great for Clients</h5>
						<p>The Admin plugin is great for developers who want to allow their clients to edit their site without messing about with text editors and FTP access.</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="feature feature-icon-large">
						<i class="icon icon-lifesaver" style="margin:0 auto 32px;"></i>
						<h5>Priority Support</h5>
						<p>As the Admin is a premium plugin, it includes priority email support for no extra cost, including help with installation, setup and usage.</p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6">
					<div class="feature feature-icon-large">
						<i class="icon icon-documents" style="margin:0 auto 32px;"></i>
						<h5>Clear Documentation</h5>
						<p>The Admin plugin comes with it's own set of clear and easy to follow <a href="/plugins/admin/docs">documentation</a>, so you can get up &amp; running in minutes.</p>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="plugin-screenshots">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
					<h1>Admin Screenshots</h1>
				</div>
			</div>

			<div class="row">
				<div class="image-gallery lightbox-gallery-mrv">

					<div class="col-sm-4 veo">
						<div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
							<a href="/themes/baun/img/plugins/screen-1.png" data-lightbox="true" data-title="Login Screen">
								<div class="background-image-holder">
									<img class="background-image lightbox-image" alt="Architect" src="/themes/baun/img/plugins/screen-1.png">
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-4 veo">
						<div class="image-holder" data-scroll-reveal="enter bottom and move 30px">
							<a href="/themes/baun/img/plugins/screen-2.png" data-lightbox="true" data-title="List of Pages">
								<div class="background-image-holder">
									<img class="background-image lightbox-image" alt="Dusk Rider" src="/themes/baun/img/plugins/screen-2.png">
								</div>
							</a>
						</div>
					</div>

					<div class="col-sm-4 veo" data-scroll-reveal="enter bottom and move 30px">
						<div class="image-holder">
							<a href="/themes/baun/img/plugins/screen-3.png" data-lightbox="true" data-title="Content Editor">
								<div class="background-image-holder">
									<img class="background-image lightbox-image" alt="Designer" src="/themes/baun/img/plugins/screen-3.png">
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="duplicatable-content pure-text">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>FAQ</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<h6>How can I pay?</h6>
					<p>We currently support all major credit cards including Visa, Mastercard, American Express and Discover.
					We also accept PayPal payments.</p>
				</div>

				<div class="col-sm-4">
					<h6>How do updates work?</h6>
					<p>As the Admin plugin is a composer package, updates will always be free. However you will
					need an active license to use the plugin.</p>
				</div>

				<div class="col-sm-4">
					<h6>How do licenses work?</h6>
					<p>When you install the plugin you will be asked to add your license key (which you will recieve in your
					receipt email) to the plugin config file. The plugin will not work without a valid license. Licenses
					last for one year.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h6>What happens when my license expires?</h6>
					<p>When your license expires the plugin will no longer work, and you will need to renew your license
					(at a discounted rate).</p>
				</div>

				<div class="col-sm-4">
					<h6>Can I run additional websites with a single license?</h6>
					<p>No. A license is valid for a single plugin installation, running on a single domain. If you plan to add
					additional installations you need to purchase licenses for each of those installations.</p>
				</div>

				<div class="col-sm-4">
					<h6>What is your refund policy?</h6>
					<p>We offer a 30-day no-questions-asked refund policy to all customers. If you are not satisfied with our
					products for whatever reason, then simply let us know within 30 days of purchase and we’ll refund you
					immediately.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="action-banner overlay">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<h1 class="text-white">Get the Admin Plugin</h1>
					<h2 class="text-white">Make your life so much easier and buy the Admin plugin for Baun right now!</h2>
					<a href="https://sites.fastspring.com/bauncms/instant/baun-admin" class="btn btn-primary btn-white btn-filled">Purchase Plugin</a>
				</div>
			</div>
		</div>

	</section>
{% endblock %}