{% extends "layout.html" %}

{% block content %}
	<section class="article-single">
		<div class="container">
			<div class="row">

				<div class="col-md-8 col-sm-9">
					<div class="article-body">
						<h1>{{ info.title }}</h1>
						<p><i class="icon icon_calendar"></i> <span class="alt-font">Published {{ published }}</span></p>
						{{ content|raw }}

						<div id="disqus_thread"></div>
						<script type="text/javascript">
						var disqus_shortname = 'bauncms';
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
						</script>
					</div>
				</div>

				<div class="col-sm-3 col-md-offset-1">
					<div class="blog-sidebar">
						<div class="sidebar-widget">
							<h5>Subscribe</h5>
							<p>Get Baun news and updates straight to your inbox.</p>
							<form action="http://sendy.dev7studios.com/subscribe" method="POST" accept-charset="utf-8">
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" name="name" class="form-control">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="email" name="email" class="form-control" required>
								</div>
								<input type="hidden" name="list" value="732ZcQzD6lrLWGLminyBEQ">
								<input type="submit" name="submit" value="Subscribe">
							</form>
						</div>
						<div class="sidebar-widget">
							<h5>Recent Posts</h5>
							<ul>
								{% for post in posts|slice(0, 5) %}
									<li><a href="/{{ post.route }}">{{ post.title }} <i class="icon arrow_right"></i></a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="sidebar-widget">
							<a href="https://twitter.com/bauncms" class="twitter-follow-button" data-show-count="true">Follow @bauncms</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}